#network {
	position:absolute;
	right: 0px;
	bottom: 0px;
	width: calc(50% - 34px);
	height: calc(50% - 34px);
	padding:0px;
	margin: 20px;
	background-color: #FFF; border:2px solid #333; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; 
}
#network .foaf { 
  fill: #999;
  stroke: #7689B5;
  stroke-width: 4px;
}

#network .like {
  fill: #999;
  stroke: #9F0;
  stroke-width: 4px;
}

#network .normal{ 
  fill: #999;
  stroke: #7689B5;
  stroke-width: 2px;
}

#network .ignored { 
  fill: #999;
  stroke: #DDD;
  stroke-width: 4px;
}

#network text {
  font: 9px sans-serif;
  pointer-events: none;
}