#network {
	position:absolute;
	right: 0px;
	bottom: 0px;
	width: 50%;
	height: 50%;
	padding:10px;
}
#network .foaf { 
  fill: #999;
  stroke: #7689B5;
  stroke-width: 5px;
}

#network .like {
  fill: #999;
  stroke: #9F0;
  stroke-width: 4px;
}

#network .nolike { 
  fill: #999;
  stroke: #7689B5;
  stroke-width: 5px;
}

#network .ignored { 
  fill: #999;
  stroke: #DDD;
  stroke-width: 5px;
}

#network text {
  font: 10px sans-serif;
  pointer-events: none;
}